%tr
  - if rating.state == 'approved'
    %td
      = rating.rate
    %td
      = truncate(rating.review.to_s, length: 100, separator: ' ', omission: '')
    %td
      = Customer.find(rating.customer_id).send(:full_name)
    %td
      = link_to "...", rating_path(rating)