.container-fluid
  .row-fluid
    .col-md-9
      %h4 Category - All
      = render @books

    .col-md-3
      %h4 SHOP BY CATEGORIES
      %table
        %tbody
          - @categories.each do |category|
            %tr
              %td= link_to "#{category.title.humanize}", category
      %br
.container-fluid
  .row-fluid 
    .col-md-9
      .pagin
        = paginate @books

