%p{:id => "notice"}= notice

%aside
  %h1 Categories

  %table
    %tbody
      - @categories.each do |category|
        %tr
          %td= link_to "#{category.title}", category

  %br


%h1 Listing books

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Price
      %th{:colspan => "3"}
    
  %tbody
    = render @books
%br