.radio
  %label
    = model.radio_button(:shipping_method, method, checked: (method == current_method || current_method.nil? && method == Order::SHIPPING_METHOD_LIST[0]))
    = "#{method} +#{PriceDecorator.new(checkout.model.calc_shipping_price(method)).decorate}"