%p{:id =>"notice"}= notice

%h1 Listing Categories

%table
  %thead
    %tr
      %th Title
      %th{:colspan => "3"}

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= link_to 'Show', category

%br
